.container1 {
  position: relative;
  width: 700px;
  height: 700px;
  background: #772b11;
  margin: 3px auto;
}
.higo {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #8eea04;
  border: 7px solid #63cc08;
  border-radius: 300px 231px 0 231px;
  transform: rotate(-135deg);
  margin: 231px 90px;
}

.arriba,
.arriba3 {
  position: absolute;
  width: 30px;
  height: 50px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #ddc366;
}
.arriba {
  margin: 152px 231px;
}
.arriba3 {
  margin: 152px 445px;
}
.higo3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background: #fc6c76;
  border: 21px solid #eaeaea;
  border-radius: 300px 231px 0 231px;
  transform: rotate(-135deg);
  margin: 231px 312px;
}
.eyes,
.eyes3,
.eyes7,
.eyes9 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: black;
  animation: cerrar 2.1s alternate infinite;
}
.eyes {
  margin: 370px 162px;
}
.eyes3 {
  margin: 370px 281px;
}
.eyes7 {
  margin: 370px 390px;
}
.eyes9 {
  margin: 370px 500px;
}
.iris {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: white;
  margin: 7px 7px;
  animation: shake 0.21s alternate infinite;
}
.iris7 {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: white;
  margin: 35px 30px;
  animation: shake 0.21s alternate infinite;
}
.boca {
  position: absolute;
  width: 35px;
  height: 21px;
  border-radius: 0 0 50px 50px;
  background: black;
}
.boca {
  margin: 430px 229px;
  animation: go 2.1s alternate infinite;
}
.boca9 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: black;
  margin: 412px 453px;
  animation: go 2.1s alternate infinite;
}
.boca7,
.boca12 {
  position: absolute;
  background: #e00b44;
}
.boca7 {
  margin: 5px 8px;
  width: 19px;
  height: 9px;
  border-radius: 0 0 50px 50px;
}
.boca12 {
  margin: 8px 7px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
.circu {
  position: absolute;
  margin: 291px 385px;
  opacity: 0.3;
}
.circu3 {
  position: absolute;
  margin: 300px 395px;
  opacity: 0.3;
  transform: scale(0.9);
}
.circ {
  position: absolute;
  background: #c90046;
  width: 162px;
  height: 162px;
  text-align: center;
}
.circ::before,
.circ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 162px;
  width: 162px;
  background: #c90046;
}
.circ::before {
  transform: rotate(30deg);
}
.circ::after {
  transform: rotate(60deg);
}
.arco,
.arco3 {
  position: absolute;
  width: 80px;
  height: 112px;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-radius: 132px / 100px;
  transform: rotate(70deg);
}
.arco {
  margin: 312px 271px;
}
.arco3 {
  margin: 312px 470px;
}

@keyframes shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1);
  }
}
@keyframes cerrar {
  0%,
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes go {
  0% {
    transform: scaleY(0.9);
  }
  50% {
    transform: scaleY(1.2);
  }
}
@keyframes grow3 {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
}
